{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

{% include "inc/breadcrumbs.html" with page_title=page_title %}

<section class="donate-page section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="donate-page__content">
                            <div class="donate-page__notice">
                                <i class="fas fa-exclamation-triangle"></i>
                                <h5 class="donate-page__notice__text">Notice: <span>Test mode is enabled. While in test mode no live donations are processed.</span></h5>
                            </div><!-- /.donate-page__notice -->
                            <form action="#" class="donate-page__form">
                                <div class="donate-page__form__amount">
                                    <div class="donate-page__form__amount__box">
                                        <span class="donate-page__form__amount__sign">$</span>
                                        <input type="text" value="99" name="donate_amount" id="donate_amount" placeholder="Amount" class="donate-page__form__amount__input">
                                    </div><!-- /.donate-page__form__amount__box -->
                                    <div class="donate-page__form__amount__buttons">
                                        <button type="button" class="donate-page__form__amount__btn donate-page__form__amount__btn--amount">$<span class="donate-page__form__amount__btn__text">25</span> </button>
                                        <button type="button" class="donate-page__form__amount__btn donate-page__form__amount__btn--amount">$<span class="donate-page__form__amount__btn__text">50</span></button>
                                        <button type="button" class="donate-page__form__amount__btn donate-page__form__amount__btn--amount">$<span class="donate-page__form__amount__btn__text">75</span></button>
                                        <button type="button" class="donate-page__form__amount__btn donate-page__form__amount__btn--amount active">$<span class="donate-page__form__amount__btn__text">99</span></button>
                                        <button type="button" class="donate-page__form__amount__btn donate-page__form__amount__btn--amount">$<span class="donate-page__form__amount__btn__text">200</span></button>
                                        <button type="button" class="donate-page__form__amount__btn">Custom amount</button>
                                    </div><!-- /.donate-page__form__amount__buttons -->
                                </div><!-- /.donate-page__form__amount -->
                                <div class="donate-page__form__payment">
                                    <h3 class="donate-page__form__title">Select Payment Method</h3><!-- /.donate-page__form__title -->
                                    <div class="donate-page__form__payment__method">
                                        <div class="donate-page__form__payment__method__item custom-radio">
                                            <input type="radio" id="account" name="checkout-info" class="custom-radio__input">
                                            <label for="account" class="custom-radio__title">test donation</label>
                                        </div>
                                        <div class="donate-page__form__payment__method__item custom-radio">
                                            <input type="radio" id="ship" name="checkout-info" class="custom-radio__input" checked>
                                            <label for="ship" class="custom-radio__title">offline donation</label>
                                        </div>
                                    </div>
                                </div><!-- /.donate-page__form__payment -->
                                <div class="donate-page__form__info form-one">
                                    <h3 class="donate-page__form__info__title donate-page__form__title">Personal Info</h3><!-- /.donate-page__form__title -->
                                    <div class="row gutter-y-30">
                                        <div class="col-xl-6">
                                            <div class="form-one__control">
                                                <input type="text" name="first_name" id="first_name" placeholder="first name" class="form-one__control__input">
                                            </div><!-- /.form-one__control -->
                                        </div><!-- /.col-xl-6 -->
                                        <div class="col-xl-6">
                                            <div class="form-one__control">
                                                <input type="text" name="last_name" id="last_name" placeholder="last name" class="form-one__control__input">
                                            </div><!-- /.form-one__control -->
                                        </div><!-- /.col-xl-6 -->
                                        <div class="col-12">
                                            <div class="form-one__control">
                                                <input type="email" name="email" id="email" placeholder="email address" class="form-one__control__input">
                                            </div><!-- /.form-one__control -->
                                        </div><!-- /.col-12 -->
                                        <div class="col-12">
                                            <div class="form-one__control">
                                                <button type="submit" class="cleenhearts-btn">
                                                    <span class="cleenhearts-btn__icon-box">
                                                        <span class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></span>
                                                    </span>
                                                    <span class="cleenhearts-btn__text">donate now</span>
                                                </button>
                                            </div><!-- /.form-one__control -->
                                        </div><!-- /.col-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.donate-page__form__info -->
                            </form><!-- /.donate-page__form -->
                        </div><!-- /.donate-page__content -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.donate-page section-space -->

{% endblock content %}