{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}

<section class="about-one section-space">
    <div class="container">
        <div class="volunteer-details__background__Inner">
            <h4 class="volunteer-details__background__heading">Allied Angels Programs</h4>
            <div class="volunteer-details__background__content wow fadeInUp" data-wow-duration="1500ms"
                 data-wow-delay="00ms">
                <h5 class="volunteer-details__background__title">ALL Haven Gathering <span
                        class="volunteer-details__background__year">Monthly</span></h5>
                <div class="volunteer-details__background__content__inner">
                    <p class="volunteer-details__background__text">Join us monthly on the first Saturday at 10 AM at
                        Sunrise shopping center. These open meetings are a cornerstone of our community. It's a space
                        for peer survivors to connect, share experiences, celebrate progress, and offer mutual support.
                        Enjoy snacks, walk together, and find encouragement as you navigate your path to healing by
                        walking and talking. ALL survivors are welcome no matter what step of your journey you are on.
                    </p>
                </div>
            </div>
            <div class="volunteer-details__background__content wow fadeInUp" data-wow-duration="1500ms"
                 data-wow-delay="100ms">
                <h5 class="volunteer-details__background__title">ALL Haven Flight Club <span
                        class="volunteer-details__background__year">Weekly</span></h5>
                <div class="volunteer-details__background__content__inner">
                    <p class="volunteer-details__background__text">For survivors ready to deeply engage in their healing,
                        our structured program offers personalized support. Participants set meaningful goals rooted in
                        their trauma stories and healing journeys. As they achieve each goal, they earn their wings,
                        symbolizing their progress and resilience. This program is facilitated through our weekly goal
                        meetings.
                    </p>
                </div>
            </div>
            <div class="volunteer-details__background__content wow fadeInUp" data-wow-duration="1500ms"
                 data-wow-delay="100ms">
                <h5 class="volunteer-details__background__title">Our Voices, Our Change Campaign<span
                        class="volunteer-details__background__year">Join Us</span></h5>
                <div class="volunteer-details__background__content__inner">
                    <p class="volunteer-details__background__text">True support and prevention require a shift in collective understanding. We actively work to bring together current resources, educate systems, and communities about the pervasive issues of violence and abuse. Through compelling YouTube videos, podcasts, events, emails, and infographics of collective data from survivors stories. We share powerful survivor testimonials and insights. These voices serve as crucial tools to illuminate the realities on the ground, inform current systems about necessary changes, foster safer communities, and empower women experiencing trauma from violent acts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}