{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}

        <section class="section-space">
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="faq-one__image">
                            <img src="{% static 'images/connect/support-thanks.png' %}" alt="faq-image">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-one__content">
                            <div class="sec-title">
                                <h6 class="sec-title__tagline @@extraClassName">Donation Received</h6>
                                <h3 class="sec-title__title">Thank You For Supporting Allied <span class="sec-title__title__inner">Angels</span></h3>
                            </div>
                            <p>Your generosity helps create moments of safety, mentorship, and hope for women navigating recovery. We’re deeply grateful you chose to be part of this work.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock page_content %}