{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}

        <section class="login-page section-space-sm">
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="login-page__image">
                            <img src="{% static 'images/login/login.png' %}" alt="login">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="login-page__form">
                            <span class="login-page__form__top-title">Log in</span>
                            <h2 class="login-page__form__title">welcome to our community</h2>
                            <form class="login-page__form__box form-one" method="post">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                                <div class="login-page__form__input-box form-one__control">
                                    {{ form.username }}
                                    {% for error in form.username.errors %}
                                        <div class="text-danger small">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="login-page__form__input-box form-one__control">
                                    {{ form.password }}
                                    {% for error in form.password.errors %}
                                        <div class="text-danger small">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                {% endif %}
                                <div class="login-page__form__input-box login-page__form__checkbox-forgot">
                                    <div class="login-page__form__checkbox">
                                        <!--<input type="checkbox" id="save_login">
                                        <label for="save_login">save log in</label>-->
                                    </div>
                                    <a href="#" class="login-page__form__forgot">forgot your password?</a>
                                </div>
                                <div class="login-page__form__input-box">
                                    <button type="submit" class="cleenhearts-btn">
                                        <span class="cleenhearts-btn__icon-box">
                                            <span class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></span>
                                        </span>
                                        <span class="cleenhearts-btn__text">log in</span>
                                    </button>
                                </div>
                                <!--<div class="login-page__form__or">
                                    <hr class="login-page__form__or-line">
                                    <span class="login-page__form__or-text">Or</span>
                                    <hr class="login-page__form__or-line">
                                </div>
                                <div class="login-page__form__signin">
                                    <button type="button" class="login-page__form__signin-btn">
                                        <span>sign in with facebook</span>
                                        <img src="assets/images/resources/login-facebook.png" alt="">
                                    </button>
                                    <button type="button" class="login-page__form__signin-btn">
                                        <span>sign in with google</span>
                                        <img src="assets/images/resources/login-google.png" alt="">
                                    </button>
                                    <p class="login-page__form__register-text">don’t have an account? <a href="login.html">Register</a></p>
                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock page_content %}